.cbox{
	position: relative;
}
/**
 * Create the box for the checkbox
 */
.cbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.cbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #68bcb6;
	top: -1;
	left: -1;
}

/**
 * Create the hover event of the tick
 */
.cbox label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.cbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}